@import './scss/reset.scss';
@import './scss/variables.scss';
@import './scss/pageHeader.scss';
@import './scss/home.scss';
@import './scss/navMenu.scss';
@import './scss/recipes.scss';
@import './scss/form.scss';
@import './scss/recipeCard.scss';

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 300;
  background-color: $primary-color;
}
#root {
  width: 100vw;
}
.main-content {
  width: 100vw;
}
