/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 5, src/scss/_reset.scss */
/* line 6, src/index.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 26, src/scss/_reset.scss */
/* line 28, src/index.css */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 30, src/scss/_reset.scss */
/* line 33, src/index.css */
body {
  line-height: 1; }

/* line 33, src/scss/_reset.scss */
/* line 37, src/index.css */
ol, ul {
  list-style: none; }

/* line 36, src/scss/_reset.scss */
/* line 41, src/index.css */
blockquote, q {
  quotes: none; }

/* line 39, src/scss/_reset.scss */
/* line 45, src/index.css */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 44, src/scss/_reset.scss */
/* line 51, src/index.css */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 3, src/scss/_pageHeader.scss */
/* line 56, src/index.css */
.list-search {
  display: inline-block;
  margin: 20px 0 20px 100px; }

/* line 6, src/scss/_pageHeader.scss */
/* line 60, src/index.css */
.list-search input {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  color: #333333;
  padding-left: 20px; }

/* line 15, src/scss/_pageHeader.scss */
/* line 69, src/index.css */
.list-search input:focus {
  border: none; }

/* line 19, src/scss/_pageHeader.scss */
/* line 73, src/index.css */
.categoryName {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  color: #fff0f0;
  font-size: 1.5em;
  text-transform: uppercase; }

/* line 27, src/scss/_pageHeader.scss */
/* line 82, src/index.css */
.add {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #73c3bd;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 70px;
  overflow: hidden;
  color: #fff0f0;
  transition: all ease 1s; }

/* line 41, src/scss/_pageHeader.scss */
/* line 97, src/index.css */
.add span {
  display: none; }

/* line 44, src/scss/_pageHeader.scss */
/* line 100, src/index.css */
.add a {
  color: #fff0f0;
  text-decoration: none; }

/* line 49, src/scss/_pageHeader.scss */
/* line 105, src/index.css */
.add:hover {
  width: 200px; }

/* line 50, src/scss/_pageHeader.scss */
/* line 108, src/index.css */
.add:hover span {
  display: inline; }

/* line 3, src/scss/_home.scss */
/* line 112, src/index.css */
.home-container {
  width: 960px;
  margin: 0 auto; }

/* line 9, src/scss/_home.scss */
/* line 117, src/index.css */
.add-button {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #73c3bd;
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  overflow: hidden;
  color: #fff0f0;
  transition: all ease 1s;
  right: 30px; }

/* line 22, src/scss/_home.scss */
/* line 131, src/index.css */
.add-button span {
  display: none; }

/* line 25, src/scss/_home.scss */
/* line 134, src/index.css */
.add-button a {
  color: #fff0f0;
  text-decoration: none; }

/* line 30, src/scss/_home.scss */
/* line 139, src/index.css */
.add-button {
  top: 10px; }

/* line 33, src/scss/_home.scss */
/* line 143, src/index.css */
.add-button:hover {
  width: 200px; }

/* line 34, src/scss/_home.scss */
/* line 146, src/index.css */
.add-button:hover span {
  display: inline; }

/* line 40, src/scss/_home.scss */
/* line 150, src/index.css */
.main-header {
  font-size: 3em;
  margin-top: 150px;
  text-align: center;
  color: #fff0f0; }

/* line 47, src/scss/_home.scss */
/* line 157, src/index.css */
.home-search input {
  display: block;
  margin: 20px auto;
  border: none;
  background-color: #f2a8a3;
  width: 70px;
  height: 70px;
  border-radius: 80px;
  text-align: center;
  font-size: 1em;
  color: #b2473f;
  transition: all ease 1s; }

/* line 60, src/scss/_home.scss */
/* line 171, src/index.css */
.home-search input:focus {
  outline: none;
  width: 300px; }

/* line 64, src/scss/_home.scss */
/* line 176, src/index.css */
.home-search input::placeholder {
  color: #b2473f; }

/* line 68, src/scss/_home.scss */
/* line 180, src/index.css */
.category, .view-all {
  background-color: #73c3bd;
  color: #fff0f0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 4px;
  width: 48%;
  margin: 1%;
  text-align: center;
  transition: all 0.3s ease; }

/* line 80, src/scss/_home.scss */
/* line 193, src/index.css */
.category {
  height: 100px;
  line-height: 100px;
  float: left; }

/* line 85, src/scss/_home.scss */
/* line 199, src/index.css */
.view-all {
  background-color: #b2473f;
  height: 50px;
  clear: both;
  border-radius: 15px;
  line-height: 50px;
  margin: 0 auto; }

/* line 93, src/scss/_home.scss */
/* line 208, src/index.css */
.view-all:hover {
  border: #fff0f0 2px solid; }

/* line 96, src/scss/_home.scss */
/* line 212, src/index.css */
.category:hover {
  background-color: #69b1a9; }

/* line 3, src/scss/_navMenu.scss */
/* line 216, src/index.css */
.nav-menu {
  color: #fff0f0;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #73c3bd;
  transition: all ease .5s; }

/* line 13, src/scss/_navMenu.scss */
/* line 227, src/index.css */
.nav-menu .link {
  color: #fff0f0;
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  transition: all ease 1s; }

/* line 21, src/scss/_navMenu.scss */
/* line 236, src/index.css */
.nav-menu .link a {
  text-decoration: none;
  color: #fff0f0; }

/* line 27, src/scss/_navMenu.scss */
/* line 241, src/index.css */
.link:hover {
  background-color: #69b1a9; }

/* line 30, src/scss/_navMenu.scss */
/* line 245, src/index.css */
.sub-menu-hide {
  display: none; }

/* line 33, src/scss/_navMenu.scss */
/* line 249, src/index.css */
.sub-menu-visible {
  display: inline-block;
  margin-left: 10px; }

/* line 36, src/scss/_navMenu.scss */
/* line 253, src/index.css */
.sub-menu-visible .sub-cat {
  padding: 5px;
  font-size: 20px;
  text-transform: lowercase;
  color: #333333;
  transition: all ease 1s; }

/* line 43, src/scss/_navMenu.scss */
/* line 260, src/index.css */
.sub-menu-visible .sub-cat:hover {
  color: #eb6c62; }

/* line 3, src/scss/_recipes.scss */
/* line 264, src/index.css */
.list-container {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0; }

/* line 10, src/scss/_recipes.scss */
/* line 272, src/index.css */
.recipes {
  overflow: none; }

/* line 12, src/scss/_recipes.scss */
/* line 275, src/index.css */
.recipes .list-items {
  background-color: #f2a8a3;
  color: #fff0f0;
  height: 100%;
  margin: 10px 20px 10px 100px;
  width: 840px;
  text-transform: lowercase;
  padding: 10px;
  position: relative; }

/* line 21, src/scss/_recipes.scss */
/* line 285, src/index.css */
.recipes .list-items h1 {
  font-size: 3em;
  padding-bottom: 10px;
  display: inline-block; }

/* line 26, src/scss/_recipes.scss */
/* line 290, src/index.css */
.recipes .list-items h2 {
  font-size: 1em;
  text-transform: uppercase;
  color: #b2473f; }

/* line 31, src/scss/_recipes.scss */
/* line 295, src/index.css */
.recipes .list-items h1:hover {
  color: #333333; }

/* line 35, src/scss/_recipes.scss */
/* line 298, src/index.css */
.recipes .buttons {
  right: 10px;
  top: 10px;
  overflow: auto;
  position: absolute; }

/* line 41, src/scss/_recipes.scss */
/* line 304, src/index.css */
.recipes .buttons .favorite, .recipes .buttons .not-favorite {
  background-repeat: none;
  width: 25px;
  height: 25px;
  background-color: #73c3bd;
  float: left;
  border-radius: 5px;
  border: 1px solid #69b1a9; }

/* line 50, src/scss/_recipes.scss */
/* line 313, src/index.css */
.recipes .buttons .favorite {
  background-image: url(../public/ic_star_white_24px.svg); }

/* line 53, src/scss/_recipes.scss */
/* line 316, src/index.css */
.recipes .buttons .not-favorite {
  background-image: url(../public/ic_star_border_white_24px.svg); }

/* line 4, src/scss/_form.scss */
/* line 320, src/index.css */
.recipe-form {
  width: 76%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2%; }

/* line 11, src/scss/_form.scss */
/* line 328, src/index.css */
.input {
  display: inline-block;
  border: none;
  background-color: #f2a8a3;
  border-bottom: #b2473f 2px solid;
  color: #333333;
  padding-left: 10px;
  border-radius: 5px;
  text-transform: lowercase; }

/* line 21, src/scss/_form.scss */
/* line 339, src/index.css */
.left-entry, .right-entry {
  float: left;
  margin: 2%; }

/* line 24, src/scss/_form.scss */
/* line 343, src/index.css */
.left-entry input, .right-entry input {
  height: 30px;
  margin: 10px;
  font-size: 18px; }

/* line 29, src/scss/_form.scss */
/* line 348, src/index.css */
.left-entry input:focus, .right-entry input:focus {
  outline: none; }

/* line 33, src/scss/_form.scss */
/* line 352, src/index.css */
.left-entry {
  width: 68%; }

/* line 35, src/scss/_form.scss */
/* line 355, src/index.css */
.left-entry #name, .left-entry #link {
  width: 100%; }

/* line 38, src/scss/_form.scss */
/* line 358, src/index.css */
.left-entry #prep, .left-entry #cook, .left-entry #total {
  font-size: 12px;
  float: left;
  width: 10.333%; }

/* line 43, src/scss/_form.scss */
/* line 363, src/index.css */
.left-entry #servings {
  font-size: 12px;
  clear: both; }

/* line 48, src/scss/_form.scss */
/* line 368, src/index.css */
.right-entry {
  width: 20%; }

/* line 50, src/scss/_form.scss */
/* line 371, src/index.css */
.right-entry .input {
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 54, src/scss/_form.scss */
/* line 375, src/index.css */
.right-entry #category {
  width: 100%; }

/* line 57, src/scss/_form.scss */
/* line 378, src/index.css */
.right-entry #tried, .right-entry #rating, .right-entry #difficulty {
  display: block; }

/* line 61, src/scss/_form.scss */
/* line 382, src/index.css */
.main-entry, .sub-entry {
  margin: 0 auto;
  width: 95%;
  clear: both; }

/* line 66, src/scss/_form.scss */
/* line 387, src/index.css */
.main-entry textarea, .sub-entry textarea {
  width: 95%;
  background-color: #f2a8a3;
  height: 100px;
  margin-bottom: 10px;
  text-transform: lowercase;
  padding: 10px; }

/* line 74, src/scss/_form.scss */
/* line 395, src/index.css */
.main-entry h1, .sub-entry h1 {
  margin-bottom: 10px;
  color: #b2473f; }

/* line 79, src/scss/_form.scss */
/* line 400, src/index.css */
.submit, .cancel {
  display: inline-block;
  background-color: #b2473f;
  border: #b2473f 2px solid;
  color: #fff0f0;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px; }

/* line 89, src/scss/_form.scss */
/* line 410, src/index.css */
.submit {
  margin-left: 40px; }

/* line 93, src/scss/_form.scss */
/* line 414, src/index.css */
.cancel {
  margin-left: 20px; }

/* line 1, src/scss/_recipeCard.scss */
/* line 418, src/index.css */
.right-side {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0; }

/* line 8, src/scss/_recipeCard.scss */
/* line 426, src/index.css */
.recipe-card {
  width: 80%;
  margin: 20px auto;
  background-color: #f2a8a3;
  height: 100%;
  color: #333333;
  position: relative;
  padding: 20px; }

/* line 17, src/scss/_recipeCard.scss */
/* line 435, src/index.css */
.recipe-card .buttons {
  right: 10px;
  top: 10px;
  overflow: auto;
  position: absolute;
  transition: ease all 3s; }

/* line 23, src/scss/_recipeCard.scss */
/* line 442, src/index.css */
.recipe-card .buttons .delete, .recipe-card .buttons .edit {
  background-repeat: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  float: left; }

/* line 30, src/scss/_recipeCard.scss */
/* line 449, src/index.css */
.recipe-card .buttons .delete {
  background-image: url(../public/ic_delete_white_24px.svg);
  margin-right: 10px; }

/* line 34, src/scss/_recipeCard.scss */
/* line 453, src/index.css */
.recipe-card .buttons .edit {
  background-image: url(../public/ic_edit_white_24px.svg);
  margin-right: 10px; }

/* line 40, src/scss/_recipeCard.scss */
/* line 457, src/index.css */
.recipe-card h1 {
  font-size: 2em;
  margin: 30px; }

/* line 44, src/scss/_recipeCard.scss */
/* line 461, src/index.css */
.recipe-card .details {
  border-bottom: 2px solid #69b1a9;
  overflow: auto;
  width: 95%;
  margin: 0 auto;
  text-transform: lowercase; }

/* line 50, src/scss/_recipeCard.scss */
/* line 468, src/index.css */
.recipe-card .details .detail {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: .8em; }

/* line 55, src/scss/_recipeCard.scss */
/* line 474, src/index.css */
.recipe-card .details .detail span {
  text-transform: uppercase;
  font-weight: bold; }

/* line 61, src/scss/_recipeCard.scss */
/* line 478, src/index.css */
.recipe-card h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px; }

/* line 68, src/scss/_recipeCard.scss */
/* line 485, src/index.css */
.recipe-card p {
  border-bottom: 2px solid #69b1a9;
  width: 95%;
  margin: 0 auto;
  text-transform: lowercase;
  margin-bottom: 10px;
  padding: 10px; }

/* line 10, src/index.scss */
/* line 494, src/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #eb6c62; }
