/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.list-search {
  display: inline-block;
  margin: 20px 0 20px 100px; }

.list-search input {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  color: #333333;
  padding-left: 20px; }

.list-search input:focus {
  border: none; }

.add {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #73c3bd;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 70px;
  overflow: hidden;
  color: #fff0f0;
  transition: all ease 1s; }

.add span {
  display: none; }

.add a {
  color: #fff0f0;
  text-decoration: none; }

.add:hover {
  width: 200px; }

.add:hover span {
  display: inline; }

.home-container {
  width: 960px;
  margin: 0 auto; }

.add-button, .view-all {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #73c3bd;
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  overflow: hidden;
  color: #fff0f0;
  transition: all ease 1s;
  right: 30px; }

.add-button span, .view-all span {
  display: none; }

.add-button a, .view-all a {
  color: #fff0f0;
  text-decoration: none; }

.add-button {
  top: 10px; }

.view-all {
  top: 70px; }

.add-button:hover, .view-all:hover {
  width: 200px; }

.add-button:hover span, .view-all:hover span {
  display: inline; }

.main-header {
  font-size: 3em;
  margin-top: 150px;
  text-align: center;
  color: #fff0f0; }

.home-search input {
  display: block;
  margin: 20px auto;
  border: none;
  background-color: #f2a8a3;
  width: 70px;
  height: 70px;
  border-radius: 80px;
  text-align: center;
  font-size: 1em;
  color: #b2473f;
  transition: all ease 1s; }

.home-search input:focus {
  outline: none;
  width: 300px; }

.home-search input::placeholder {
  color: #b2473f; }

.category {
  background-color: #73c3bd;
  color: #fff0f0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 4px;
  float: left;
  width: 48%;
  height: 100px;
  margin: 1%;
  text-align: center;
  line-height: 100px;
  transition: all 0.3s ease; }

.category:hover {
  background-color: #69b1a9; }

.nav-menu {
  color: #fff0f0;
  height: 100%;
  width: 20%;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #73c3bd;
  transition: all ease .5s; }

.nav-menu .link {
  color: #fff0f0;
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  transition: all ease 1s; }

.nav-menu .link a {
  text-decoration: none;
  color: #fff0f0; }

.link:hover {
  background-color: #69b1a9; }

.sub-menu-hide {
  display: none; }

.sub-menu-visible {
  display: inline-block;
  margin-left: 10px; }

.sub-menu-visible .sub-cat {
  padding: 5px;
  font-size: 20px;
  text-transform: lowercase;
  color: #333333;
  transition: all ease 1s; }

.sub-menu-visible .sub-cat:hover {
  color: #eb6c62; }

.list-container {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0; }

.recipes {
  overflow: none; }

.recipes .list-items {
  background-color: #f2a8a3;
  color: #fff0f0;
  height: 100%;
  margin: 10px 20px 10px 100px;
  width: 840px;
  text-transform: lowercase;
  padding: 10px;
  position: relative; }

.recipes .list-items h1 {
  font-size: 3em;
  padding-bottom: 10px; }

.recipes .list-items h2 {
  font-size: 1em;
  text-transform: uppercase;
  color: #b2473f; }

.recipes .list-items h1:hover {
  color: #333333; }

.recipes .buttons {
  right: 10px;
  top: 10px;
  overflow: auto;
  position: absolute; }

.recipes .buttons .delete, .recipes .buttons .edit, .recipes .buttons .favorite, .recipes .buttons .not-favorite {
  background-repeat: none;
  width: 25px;
  height: 25px;
  background-color: #73c3bd;
  float: left;
  border-radius: 5px;
  border: 1px solid #69b1a9; }

.recipes .buttons .delete {
  background-image: url(../public/ic_delete_white_24px.svg);
  margin-right: 10px; }

.recipes .buttons .edit {
  background-image: url(../public/ic_edit_white_24px.svg);
  margin-right: 10px; }

.recipes .buttons .favorite {
  background-image: url(../public/ic_star_white_24px.svg); }

.recipes .buttons .not-favorite {
  background-image: url(../public/ic_star_border_white_24px.svg); }

.recipe-form {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0; }

.input {
  display: inline-block;
  margin: 10px;
  border: none;
  background-color: #eb6c62;
  border-bottom: #b2473f 2px solid;
  color: #333333; }

.left-entry, .right-entry {
  float: left;
  width: 46%;
  margin: 2%; }

.left-entry input, .right-entry input {
  height: 30px;
  margin: 10px;
  font-size: 18px; }

.left-entry input:focus, .right-entry input:focus {
  outline: none; }

#name, #link {
  width: 100%; }

#prep, #cook, #total {
  font-size: 12px;
  float: left;
  width: 10.333%; }

#servings {
  font-size: 12px;
  clear: both; }

.right-entry h1 {
  font-size: 18px;
  display: inline; }

#category {
  width: 100%; }

#tried, #rating, #difficulty {
  display: inline; }

.main-entry, .sub-entry {
  width: 90%;
  margin: 0 auto; }

.main-entry textarea, .sub-entry textarea {
  width: 100%;
  background-color: #f2a8a3;
  height: 100px; }

.main-entry {
  clear: both; }

.sub-entry {
  clear: both; }

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #eb6c62; }
