@import './variables.scss';


.recipe-form{
  width: 76%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2%;
}
.input{
  display: inline-block;
  border: none;
  background-color: $tertiary-color;
  border-bottom: $secondary-font-color 2px solid;
  color: $focus-font-color;
  padding-left: 10px;
  border-radius: 5px;
  text-transform: lowercase;
}
.left-entry{
  input{
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  input:focus{
    outline: none;
  }
}
.left-entry{
  width: 68%;
  #name, #link {
    width: 100%;
  }
  #prep, #cook, #total{
    font-size: 12px;
    float: left;
    width: 10.333%;
  }
  #servings {
    font-size: 12px;
    clear: both;
  }
}
.right-entry{
  width: 90%;
  margin: 0 auto;
  .input{
    width: 30%;
    margin: 10px auto;
    height: 30px;
  }
  #category, #tried, #rating, #difficulty{
    display: block;
  }
}
.main-entry, .sub-entry{
  margin: 0 auto;
  width: 95%;
  clear: both;

  textarea{
    width: 95%;
    background-color: $tertiary-color;
    height: 100px;
    margin-bottom: 10px;
    text-transform: lowercase;
    padding: 10px;
  }
  h1{
    margin-bottom: 10px;
    color: $secondary-font-color;
  }
}
.buttons{
  width: 20%;
  margin: 0 auto;
  overflow: auto;
}
.submit, .cancel{
  display: inline-block;
  background-color: $secondary-font-color;
  border: $secondary-font-color 2px solid;
  color: $primary-font-color;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 15px
}
@media (max-width: 800px){
  .recipe-form {
    width: 90%;
    top: 50px;
    right: 10px;
    margin: 0 auto;
  }
}
