@import './variables.scss';

.nav-menu {
  color: $primary-font-color;
  height: 100%;
  width: 20%;
  display: inline-block;
  position:fixed;
  left: 0;
  top: 0;
  background-color: $secondary-color;
  z-index: 10;
  overflow: auto;
  .link {
    color: $primary-font-color;
    font-size: 2em;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    transition: ease 1s;
    a {
      text-decoration: none;
      color: $primary-font-color;
    }
  }
}
.link:hover{
  background-color: $tertiary-color2;
}
.sub-menu-hide {
  display: none;
}
.sub-menu-visible {
  display: inline-block;
  margin-left: 10px;
  .sub-cat {
    padding: 5px;
    font-size: 20px;
    text-transform: lowercase;
    color: $focus-font-color;
    transition: ease 1s;
  }
  .sub-cat:hover {
    color: $primary-color;
  }
}
@media (max-width: 1250px){
  .nav-menu .link{
    font-size: 1.5em;
  }
}
@media (max-width: 1020px){
  .nav-menu .link{
    font-size: 1em;
  }
}
@media (max-width: 800px){
  .nav-menu{
    right: 0;
    top: 0;
    height: 50px;
    width: 100%;
    .link{
      float: left;
      margin-left: 5px;
      margin-top: 10px;
    }

    #home, #view-all{
      border-right: 2px solid $tertiary-color2;
    }
    .sub-menu-visible{
      position: fixed;
      background-color: $tertiary-color2;
      padding: 20px;
      top: 40px;
      right: 70px;
      z-index: 20;
    }
  }
}
@media(max-width: 643px){
  .nav-menu{
    .link{
      font-size: .7em;
      margin-left: 10px;
    }
  }
}
