
.right-side{
  width: 80%;
  margin-left: 17%;
}
.recipe-card{
  width: 80%;
  margin: 20px auto;
  background-color: $tertiary-color;
  height: 100%;
  color: $focus-font-color;
  position: relative;
  padding: 20px;

  .buttons{
    right: 10px;
    top: 10px;
    overflow: auto;
    position: absolute;
    transition: ease all 3s;
    .delete, .edit{
      background-repeat: none;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      float: left;
    }
    .delete {
      background-image: url(../public/ic_delete_white_24px.svg);
      margin-right: 10px;
    }
    .edit {
      background-image: url(../public/ic_edit_white_24px.svg);
      margin-right: 10px;
    }
    .line-break{
      outline: red 2px solid;
    }
  }

  h1{
    font-size: 2em;
    margin: 30px;
  }
  .details{
    border-bottom: 2px solid $tertiary-color2;
    overflow: auto;
    width: 95%;
    margin: 0 auto;
    text-transform: lowercase;
    .detail{
      float: left;
      margin-left: 10px;
      margin-bottom: 10px;
      font-size: .8em;
      span{
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
  h2{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  p{
    border-bottom: 2px solid $tertiary-color2;
    width: 95%;
    margin-bottom: 20px;
    margin-left: 30px;
    text-transform: lowercase;
    margin-bottom: 10px;
    line-height: 30px;
    padding-bottom: 20px;
  }
}
@media (max-width: 800px){
  .right-side{
    width: 100vw;
    margin: 0 auto;
  }
  .recipe-card{

    margin: 60px auto;
    h1 {
      margin-left: 0;
      font-size: 1.7em;
    }
    .details {
      .detail {
        margin-left: 5px;

      }
    }
    p {
      margin-left: 0px;
    }
    h2 {
      margin-left: 0px;
    }
    .buttons {
      width: 25%;
      right: 0;
    }
  }
}
