@import './variables.scss';

.list-container{
  width: 80%;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
}
.recipes{
  overflow: none;

  .list-items{
    background-color: $tertiary-color;
    color: $primary-font-color;
    height: 100%;
    margin: 10px 20px 10px 100px;
    width: 80%;
    text-transform: lowercase;;
    position: relative;
    padding: 10px;

    h1{
      font-size: 3em;
      padding-bottom: 10px;
      display: inline-block;
    }
    h2{
      font-size: 1em;
      text-transform: uppercase;
      color: $secondary-font-color;
      padding: 5px;
      letter-spacing: 2px;

    }
    span{
      text-transform: lowercase;
      color: $focus-font-color;
      letter-spacing: 4px;
      padding-left: 10px;
    }
    h1:hover{
      color: $focus-font-color;
    }
  }

}

@media (max-width: 1020px){
  .recipes .list-items{
    margin-left: 50px;
  }
}
@media (max-width: 800px){
  .list-container{
    left: 0;
  }
  .recipes .list-items{
    h1{
      font-size: 2em;
    }
  }
}
