$main-font: 'Lato', sans-serif;
$primary-color: rgba(235, 108, 98, 1.0);
$secondary-color: rgba(115, 195, 189, 1.0);
$tertiary-color: rgba(242, 168, 163, 1.0);
$tertiary-color2: rgba(105, 177, 169, 1.0);
$primary-font-color: rgba(255, 240, 240, 1.0);
$secondary-font-color: rgba(178, 71, 63, 1.0);
$focus-font-color: rgba(51, 51, 51, 1.0);
